@charset="utf-8";
.tableschem {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-collapse: collapse;
    color: #686461;
}

.tableschem caption {
    padding: 10px;
    color: white;
    background: #8FD4C1;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
}

.tableschem th {
    border-bottom: 3px solid #B9B29F;
    padding: 10px;
    text-align: left;
}

.tableschem td {
    padding: 10px;
}

.tableschem tr:nth-child(odd) {
    background: white;
}

.tableschem tr:nth-child(even) {
    background: #E8E6D1;
}

